:root {
    --seashell: #fdf3ed;
    --champagnepink: #f2e7da;
    --unbleachedsilk: #f7d4bc;
    --apricot: rgb(247, 205, 182);
    --lightsalmon: rgb(241, 166, 126);
    --atomictangerine: #ef9a6c;
  }

/* Base styles */

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

a, ul, li {
    text-decoration: none;
    color: black;
    list-style: none;
    margin: 0;
    padding: 0;
}

main, header, footer {
    line-height: 1.3rem;
}

section {
    margin-top: 100px;
}

main, section {
    padding: 0 20px;
}

.btn {
    display: inline-block;
    background-color: var(--lightsalmon);
    padding: 10px 20px;
    border-radius: 30px;
    color: white;
}

h6 {
    text-transform: uppercase;
}

/* Header */

header {
    margin-top: 70px;
}

#navbar {
    width: 100vw;
    margin: 0 auto;
    position: fixed;
    top: 0;
}

#navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

#navbar ul li a {
    display: block;
    padding: 6px 5px 2px;
    background-color: var(--lightsalmon);
    color: white;
    border-radius: 50%;
    margin: 10px 10px;
    height: 2rem;
    width: 2rem;
}

/* Bio */

#bio h2 {
    padding-top: 50px;
}

#bio .btn {
    margin-top: 20px;
}

/* Eduaction */

#education ul {
    display: flex;
    flex-direction: column-reverse;
}

#education ul img {
    height: 3rem;
    width: 3rem;
}

/* Footer */
footer {
    background-color: var(--lightsalmon);
}

@media (min-width: 840px) {
    header, main {
        width: 820px;
        margin: 0 auto;
        box-shadow: 10px 0px 10px rgba(0,0,0,0.05),
        -10px 0px 10px rgba(0,0,0,0.05);
    }

    #navbar ul {
        width: 820px;
    }
}